<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{%block title%}COCKTAILS{%endblock%}</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='js/script.js')}}">
</head>
<body>
	<div class="container">
		<header id="navigation">
			<div class="logo">
				<a href="{{url_for('index')}}"><img src="../static/img/logo.png" width="30px" height="30px" alt=""></a>
			</div>
			<nav class="nav-list">
				<ul class="nav-menu">
					<li><a href="{{url_for('mahalo_page')}}">Mahalo</a></li>
					<li><a href="{{url_for('crystal_page')}}">Crystal Lady</a></li>
					<li><a href="{{url_for('siren_page')}}">Sirén</a></li>
					<li><a href="{{url_for('umpalumpa_page')}}">Umpalumpa</a></li>
					<li><a href="{{url_for('la_liberte_page')}}">La Liberté</a></li>
				</ul>
				<div class="ham">
					<div class="bar"></div>
				</div>
				<div class="footer">
					<p>&copy Majky 2021</p>
				</div>
			</nav>
		</header>

		<section id="menu">
			<div class="col-left">
					<img src="{{url_for('static',filename='icons/crystal-lady.png')}}">
			</div>
			<div class="col-right">
				<h1>Crystal Lady</h1>
				<ul>
					<li>Russian Standard</li>
					<li>Rose water</li>
					<li>Bublegum sirup</li>
					<li>Prosseco</li>
				</ul>
			</div>
		</section>
	</div>

<!--SCRIPTS-->
	<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>