//
// GEBNERALS
// --------------------------------------------------------------------
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: $color_main;
}
ul{
	padding-left: 0;
	list-style: none;
}

body{
	position: relative;
	height: 100vh;
	font:{
		size: $font_size_base;
		family:$font_family_sans;
		weight:normal;
	}
}

.container{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color:$background_main;
}


@media (min-width: 720px) {
	.container{
		display: flex;
	}
}
