//
// VARIABLES
// --------------------------------------------------------------------

$color_main:#5E2260;
$color_nav:#5FF5D9;
$color_drinks-h1:#5E2260;
$color_drinks-p:#4AA897;
$color_attr:#FBCB35;

$background_main: #F5DE90;
$background_nav:#5E2260;




$font_size_base:1em;
$font_family_sans:"Poppins",sans-serif;
$font_family_anton:'Anton', sans-serif;

$background-img-mahalo:url('../icons/mahalo.png')no-repeat center;
$background-img-lady: url('../icons/crystal-lady.png') no-repeat center;
$background-img-siren:url('../icons/siren.png')no-repeat center;
$background-img-umpalumpa:url('../icons/umpalumpa.png')no-repeat center;
$background-img-la_liberte:url('../icons/la-liberte.png')no-repeat center;

$debug:false;