//
// WELCOME LOADING ANIMATION
// ----------------------------------------------------------------------------
.loader{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background: darken($background_nav,13%);
	z-index: 10;
}

.loader .heading{
	font-size: 4em;
	color: $color_drinks-p;
}

.loader .percentage{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10;
	font-size: 2em;
	color: $background_nav;
	z-index: 11;
}

@keyframes loader{
	0%{
		transform: translateY(0px);
	}

	50%{
		transform: translateY(-20px);
	}

	100%{
		transform: translateY(0px);
	}
}

@media (min-width: 720px){
	.loader .heading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: $color_drinks-p;

		font:{
			size: 7em;
			weight:bold;
		}
		letter-spacing: 10px;
		text-shadow: 8px 3px 1px $color_attr;
	}
}

@media (min-width: 950px){
	.loader .heading{
		font-size: 10em;
	}
}

@media (min-width: 1500px){
	.loader .heading {
		font-size: 12em;
	}
}